/* signin.css */
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(https://images2.thanhnien.vn/528068263637045248/2023/5/26/base64-16850716537841010383416.png);

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.container {
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 30px;
    font-weight: bold;
}

label {
    font-size: 16px;
    color: #555;
    margin-bottom: 8px;
    text-align: left;
    display: block;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #ff7e5f;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #ff7e5f;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #feb47b;
}

p {
    font-size: 14px;
    color: #555;
}

a {
    color: #ff7e5f;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}


.home-button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  .home-button:hover {
    background-color: #ccc;
  }
  
  .home-button i {
    margin-right: 8px; 
  }
  
